/**
 *  Scss
 *  @author info@74dpi.com
 *  @todo   
 */

/* Params */

$font-regular: "HandbookProRegular";
$font-extrathin: "HandbookProExtraThin";
$font-thin: "HandbookProThin";

$color-black: #000;
$color-white: #fff;
$color-gray:  #4f4f4f;
$color-gray2: #8b8b8b;
$color-blue:  #005fb7;

/* Functions */

@mixin reset{
    margin:0;
    padding:0;
    border:0;
}

@mixin img-replacement{
    overflow:hidden;
    white-space: nowrap;
    text-indent:100%;
}

@mixin clearfix{
  
    *zoom:1;
    
    &:before,
    &:after {
      content: " "; 
      display: table;
    }
      
    &:after {clear: both;}
      
}

@mixin inline-block{
    display:inline-block;
    *display:inline;
    margin-right:-4px;
    zoom:1;
} 


@mixin wrap{
    text-wrap:    wrap;
    white-space:  pre-wrap;
    white-space:  -moz-pre-wrap;
    word-wrap:    break-word;
}

@mixin reset{
    margin:0;
    padding:0;
    border:0;
}


/* Common */

@font-face{
    font-family: 'HandbookProRegular';
    src: url('../fonts/handbookproregular.eot');
    src: local('☺'), 
        url('../fonts/handbookproregular.woff') format('woff'), 
        url('../fonts/handbookproregular.ttf') format('truetype'), 
        url('../fonts/handbookproregular.svg#pf_handbook_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'HandbookProThin';
    src: url('../fonts/handbookprothin.eot');
    src: local('☺'), 
        url('../fonts/handbookprothin.woff') format('woff'), 
        url('../fonts/handbookprothin.ttf') format('truetype'), 
        url('../fonts/handbookprothin.svg#pf_handbook_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'HandbookProExtraThin';
    src: url('../fonts/handbookproextrathin.eot');
    src: local('☺'), 
        url('../fonts/handbookproextrathin.woff') format('woff'), 
        url('../fonts/handbookproextrathin.ttf') format('truetype'), 
        url('../fonts/handbookproextrathin.svg#pf_handbook_proextra_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}


*{
    outline: none;
}

html,body{
    width:100%;
    @include reset;
}

html{
    font-size:100%;
    -webkit-font-smoothing: antialiased;
}

body {
    font: normal 1.00em/1.5 Arial, Helvetica, sans-serif;
    text-align:left;
    background:url("../img/bg.body.png") repeat 0 0;
}


h1{margin:0.5em 0 0.750em 0;}
h2{margin:0.5em 0 0.750em 0;}
h3{margin:0.5em 0 0.750em 0;}
h4{margin:0.5em 0 0.750em 0;}

h1,h2,h3{
    &:first-child{margin-top:0;}    
}

h1+h2{margin-top:-0.5em;}

h1+p{margin-top:-0.5em;}

h2+p{margin-top:-0.5em;}

p{
    margin:0 0 1em 0;
    &:last-child{margin-bottom:0;}
}


a{
    &:hover{text-decoration:none;}
    &:active{}
}

img{
    @include reset;
}

blockquote{font-style:italic;}

form{
    position:relative;
    width:100%;
    @include reset;
    
    fieldset{
      @include reset;
    }
    
    label,
    .label{
        display:block;
    }
    
    input,
    textarea{
        position:relative;
        font:normal 0.750em/1.4 Arial, Helvetica, sans-serif;
        resize:none;
        
        &:hover{}
        &:focus{}
    }
    
    .input{
        float:left;
        width:100%;
        
        &.text{
            
            input,textarea{
                float:left;
                height:20px;
                
                &.submit{
                    font-size:0.875em;
                    text-align:center;
                    height:auto;
                }
            }
        }
    }
}

header,
footer,
article,
aside,
nav,
hgroup,
time{
    display:block;
    @include reset;
}


/* Additions*/

.aright         {text-align:right;}
.aleft          {text-align:left;}
.relative       {position:relative;}
.top            {margin-top:0 !important;}
.bottom         {margin-bottom:0 !important;}
.left           {float:left !important;}
.right          {float:right !important;}
.clear          {clear:both;}

/* Elements */


.wrapper{
    position:relative;
    width:999px;
    margin:0 auto; 
      
}

/* Layout */

#mainheader{
    text-align:center;
    
    .brand{
        @include inline-block;
        margin:40px 0 30px 0;
    }  
    
    nav{
        vertical-align:middle;
        
        a,
        span{
            @include inline-block;
            font: normal 1.250em/1.0 $font-regular, Arial, Helvetica, sans-serif;
            text-transform:uppercase;
            vertical-align:middle;
            letter-spacing:1px;
        }
        
        a{
            color: $color-black;
            text-decoration:none;
            margin:0 20px;
            
            &:hover{
                color:$color-gray;
                
            }
        }
        
        .resume{
            @include inline-block;
            color: $color-white;
            background:$color-black;
            padding:8px 15px;
            vertical-align:middle;
            line-height:1;
            
            span{font-size:1em;}
            
            a{
                padding:0 0 0 30px;
                font-size:1em;
                line-height:1.5;
                margin-right:0;
                color: $color-white;
                background:url("../img/ico.pdf.png") no-repeat left center;
                text-decoration:underline;
                
                &:hover{
                    text-decoration:none;
                }
            }
        }
    }
}

article{
    position:relative;
    margin:30px 0 0 0;
    
    time{
        font: normal 1.313em/1 $font-extrathin, Arial, Helvetica, sans-serif;
        text-transform:uppercase;
    }
    
    .comments,
    .share,
    .like,
    .more{
        font: normal 0.938em/1 $font-extrathin, Arial, Helvetica, sans-serif;    
        text-transform:uppercase;
    }
    
    .comments,
    .more{text-decoration:none;}
    
    &.short{
        img{
            position:relative;
            display:block;
            @include reset;
        }  
    }
  
    &.style1{
        
        time,
        .title,
        .meta,
        .more{
            position:absolute;
            color: $color-white;
        }
        
        time{
            top:30px;
            left:30px;
            z-index:2;
        }
        
        .title{
            bottom:60px;
            left:25px;
            font: normal 3.438em/0.8 $font-extrathin, Arial, Helvetica, sans-serif; 
            text-decoration:none;
            text-transform:uppercase;
            z-index:2;
        }
        
        .meta{
            bottom:20px;
            left:25px;  
            z-index:2;
        }
        
        .like,
        .share,
        .comments{
            margin:0 15px 0 0;
            color: $color-white;
        }
        
        .more{
            bottom:30px;
            right:60px; 
            font-size:3.188em;
            padding:10px 15px;
            background:$color-black;
        }
          
    } 
    
    &.style2{
        
        time,
        .title,
        .meta,
        .more{
            position:absolute;
            color: $color-white;
        }
        
        time{
            top:30px;
            left:30px;
            z-index:2;
        }
        
        .title{
            top:50%;
            left:50%;
            text-decoration:none;
            text-transform:uppercase;
            z-index:2;
            
            h2{
                font: normal 5.063em/1.2 $font-extrathin, Arial, Helvetica, sans-serif; 
                text-shadow:0 1px 1px rgba(0,0,0,0.9);
                margin:0;
                padding:0 100px;
                border-bottom:1px solid $color-white;
                text-align:center;
            }
            
            h3{
                font: normal 2.750em/1 $font-extrathin, Arial, Helvetica, sans-serif;
                text-shadow:0 1px 1px rgba(0,0,0,0.9);
                margin:0;
                text-align:center;
            }
        }
        
        .meta{
            bottom:20px;
            left:25px;
            z-index:2;  
        }
        
        .like,
        .share,
        .comments{
            margin:0 15px 0 0;
            color: $color-white;
        }
        
        .more{
            bottom:30px;
            right:60px; 
            font-size:3.188em;
            padding:10px 15px;
            background:$color-blue;
        }      
    } 
    
    &.style3{
      
        time,
        .title,
        .meta,
        .more{
            position:absolute;
            color: $color-black;
        }
        
        time{
            top:25px;
            left:710px;
            z-index:2;
        }
        
        .title{
            top:55px;
            left:710px;
            font: normal 3.438em/0.9 $font-extrathin, Arial, Helvetica, sans-serif; 
            text-decoration:none;
            text-transform:uppercase;
            z-index:2;
            
        }
        
        .meta{
            bottom:40px;
            right:25px;
            z-index:2;  
        }
        
        .like,
        .share,
        .comments{
            margin:0 0 0 15px;
            color: $color-black;
        }
        
        .more{
            bottom:60px;
            left:35px; 
            font-size:3.188em;
            padding:10px 15px;
            background:$color-white;
        }       
      
    }
    
    &.style4{
        text-align:center;
        
        time{
            position:absolute;
            top:0;
            left:30px;
            z-index:2;
            color: $color-black;
        }
        
        .title{
            display:block;
            position:relative;
            text-decoration:none;
            text-align:center;
            color:$color-black;
            z-index:2;
            
            h2{
                @include inline-block;
                font: normal 5.938em/1.5 $font-extrathin, Arial, Helvetica, sans-serif; 
                text-transform:uppercase;
                margin:60px -4px 30px 0;
                padding:0 200px;
                border-bottom:1px solid $color-black;
                text-align:center;
            }
            
            p{
                font: normal 1.750em/1.1 $font-extrathin, Arial, Helvetica, sans-serif;
                margin:0;
                padding:0 90px;
                text-align:center;
            }
        }
        
        .meta{
            @include inline-block;
            padding:10px 150px 0 150px;
            margin:65px -4px 0 0;
            text-align:center;  
            background:url("../img/bg.meta.png") repeat-x top left;    
        }
        
        .like,
        .share,
        .comments{
            margin:0 5px;
            color: $color-black;
        }
        
      
    }
    
    &.style5{
      
        time,
        .title,
        .meta,
        .more{
            position:absolute;
            color: $color-white;
        }
        
        time{
            top:30px;
            left:30px;
            z-index:2;
        }
        
        .title{
            top:60px;
            left:25px;
            text-decoration:none;
            text-transform:uppercase;
            z-index:2;
            
            h2{
                font: normal 2.625em/0.8 $font-extrathin, Arial, Helvetica, sans-serif;
                margin:0;
            }
            
            h3{
                font: normal 5.750em/0.8 $font-extrathin, Arial, Helvetica, sans-serif;
                margin:0;
            }
        }
        
        .meta{
            bottom:20px;
            left:25px;  
            z-index:2;
        }
        
        .like,
        .share,
        .comments{
            margin:0 15px 0 0;
            color: $color-white;
        }
        
        .more{
            bottom:30px;
            right:60px; 
            font-size:3.188em;
            padding:10px 15px;
            background:$color-blue;
        }
      
      
    }
  
  
}

.pagination{
    
    margin: 100px 0;
    text-align:center;
    
    a,
    span{
        @include inline-block;
        font: normal 2.313em/1.4 $font-extrathin, Arial, Helvetica, sans-serif;
        color:$color-gray;
        padding:0 15px;
        margin:0 -1px 0 5px;
        vertical-align:middle;
        text-decoration:none;
        text-transform:uppercase;
        
        &.sel{
            text-decoration:underline;
        }
        
        &.next{
            margin-left:100px;
            color:$color-white;
            background:$color-blue;
        }
    }
  
  
}

#mainfooter{
    text-align:center;
    margin:20px 0;
    
    p{
        font: normal 1.188em/1 $font-extrathin, Arial, Helvetica, sans-serif;
        color:$color-gray;
        text-transform:uppercase;
    }
  
}
